<a href="https://colab.research.google.com/github/Iveynganga/Data-Engineering/blob/main/DataEngineeringAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas mysql-connector-python openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 41.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [3]:
import json

# Load JSON data
with open('/content/data.json', 'r') as file:
    json_data = json.load(file)

# Convert JSON data to DataFrame
json_df = pd.DataFrame(json_data)
print(json_df.head())

   id        name     category   price  quantity
0   1      Laptop  Electronics  1000.0        50
1   2    Keyboard  Electronics    50.0       200
2   3  Desk Chair    Furniture   150.0        80
3   4         Pen   Stationery     2.0       500

In [2]:
import pandas as pd

# Load CSV data
csv_data = pd.read_csv('/content/data.csv')
print(csv_data.head())  # Preview the data

   id        name     category  price  quantity
0   1      Laptop  Electronics   1000        50
1   2    Keyboard  Electronics     50       200
2   3  Desk Chair    Furniture    150        80
3   4         Pen   Stationery      2       500

In [4]:
# Load Excel data
excel_data = pd.read_excel('/content/data.xlsx', engine='openpyxl')
print(excel_data.head())  # Preview the data

   id        name     category  price  quantity
0   1      Laptop  Electronics   1000        50
1   2    Keyboard  Electronics     50       200
2   3  Desk Chair    Furniture    150        80
3   4         Pen   Stationery      2       500

In [9]:
import mysql.connector

# Connect to MySQL database
connection = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='store_db'
)

# Query the products table
query = "SELECT * FROM products"
db_data = pd.read_sql(query, connection)
print(db_data.head())  # Preview the data

# Close the connection
connection.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [5]:
#function to calculate the summary for each dataset

def summarize_data(df):
    total_products = len(df)
    avg_price = df['price'].mean()
    total_quantity = df['quantity'].sum()

    return total_products, avg_price, total_quantity

In [6]:
#CSV data results for total number of products, average price of products and total quantity of products

csv_summary = summarize_data(csv_data)
print("CSV Summary:", csv_summary)

CSV Summary: (4, 300.5, 830)

In [7]:
#JSON data results for total number of products, average price of products and total quantity of products

json_summary = summarize_data(json_df)
print("JSON Summary:", json_summary)

JSON Summary: (4, 300.5, 830)

In [8]:
# Excel data results for total number of products, average price of products and total quantity of products

excel_summary = summarize_data(excel_data)
print("Excel Summary:", excel_summary)

Excel Summary: (4, 300.5, 830)